---
layout: default
---

<div class="site-section site-section-last">
<header class="post-header">
<h1>{{page.title}}</h1>  
</header>   
<div class="post-body">
  <p>I do freelancing in my spare time.
    I am experienced in the following technologies.
    I am a seasoned software developer with a demonstrated history of working in 
    the information technology and services industry.
    I can work with Agile Methodologies and deliver high quality software on time.
    I am domain expert on HCM and can consult on software design and development
     </p>
    <ul class="abilities">
<li class="ability-html">HTML</li>
<li class="ability-css">CSS</li>
<li class="ability-javascript">Javascript</li>    
</ul>
  </p>
</div>

</div>